---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import type { Testimonials } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  testimonials = [],
  callToAction,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Testimonials;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`card_container ${classes?.container ?? ''}`} bg={bg}>
  <div class="card-content">
    <div class="card-article max-w-6xl mx-auto">
      <Headline title={title} subtitle={subtitle} tagline={tagline} />

      <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {
          testimonials &&
            testimonials.map(({ title, testimonial, name, image }) => (
              <div class="flex flex-col w-70 p-4 md:p-6 rounded-md shadow-xl dark:shadow-none dark:border dark:border-slate-600">
                {title && <h2 class="text-lg font-medium leading-6 pb-4">{title}</h2>}
                {testimonial && (
                  <div class="flex justify-center">
                    {image && (
                      <div class="h-300 w-400">
                        {typeof image === 'string' ? (
                          <Fragment set:html={image} />
                        ) : (
                          <Image class="h-300 w-400" width={300} height={300} widths={[250, 768]} {...(image as any)} />
                        )}
                      </div>
                    )}
                  </div>
                )}

                <hr class="border-slate-200 dark:border-slate-600 my-4" />

                <div class="grow ml-3 rtl:ml-0 rtl:mr-3">
                  {name && <p class="text-xl text-center font-semibold">{name}</p>}
                </div>
              </div>
            ))
        }
      </div>

      {
        callToAction && (
          <div class="flex justify-center mx-auto w-fit mt-8 md:mt-12 font-medium">
            <Button {...callToAction} />
          </div>
        )
      }
    </div>
  </div>
</WidgetWrapper>
